* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }
    
.rating {
    display: flex;
    font-size: 40px;
    line-height: 0.75;
}
.rating__body {
    position: relative;
    z-index: 0; 
}
.rating__body::before {
    content: "★★★★★";
    display: block;
}
.rating__active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;

}
.rating__items {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.rating__value {
    margin: 10px 15px 10px;
    font-size: 50%;
    line-height: 1;
}
@media (max-width: 767px) {
    .rating {
        margin: 10px 15px 10px;
        height: auto;
    }
}