.home__page {
  margin-top: 120px;
  display: flex;
  height: auto;
  /* background-color: red; */
}
.wrapper {
  justify-content: center;
  z-index: 1;
  width: 100%;
}
.button__block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  position: relative;
  width: 100%;
}
hr {
  border: 3px;
  color: red;
  background-color: red;
  height: 10px;
  width: 100%;
}
