.filter {
  width: 200px;
  margin-right: 50px;
  min-height: 300vh;
}
.filter__block {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  color: black;
}
.filter__items {
  list-style: none;
  font-size: 11pt;
}
.filter__item {
  margin-top: 5px;
  height: 20px;
  cursor: pointer;
}
.filter__item:hover {
  background-color: rgb(202, 202, 202);
  border-radius: 3px;
}
.filter__item.selected {
  background-color: rgb(202, 202, 202);
}
.filter__item span {
  padding-left: 10px;
}
.filter__item-genre {
  background-color: rgb(13, 70, 114);
  color: white;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-radius: 3px;
}

/* sort */
.sort {
  margin-top: 30px;
  font-size: 11pt;
  margin-right: 50px;
}
.sort__block {
  width: 200px;
  height: 110px;
}

.sort__item-genre {
  background-color: rgb(13, 70, 114);
  color: white;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-radius: 3px;
  box-shadow: none;
}
.sort__item {
  margin-top: 5px;
  height: 20px;
  cursor: pointer;
}
.sort__item:hover {
  background-color: rgb(202, 202, 202);
  border-radius: 3px;
}
.sort__item:checked {
  background-color: rgb(202, 202, 202);
}
.sort__item span {
  padding-left: 10px;
}

/* adaptive max-width: 767px */
@media (max-width: 767px) {
  .filter {
    /* display: none; */
  }
}
