@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&family=Zen+Dots&display=swap");

.links a:link {
  color: white;
}
.links a:visited {
  color: white;
}
.links a:active {
  color: white;
}

.homepage {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.homepage-main {
  padding: 120px 0px;
  box-sizing: border-box;
}
.main-bg-block {
  text-decoration: none;
  display: flex;
  transition: 0.5s ease-in;
}
.image {
  width: 1200px;
  height: 630px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.main-title-name {
  text-decoration: none;
  font-size: 40pt;
  text-transform: uppercase;
  font-family: "Rammetto One", cursive;
  position: absolute;
  display: flex;
  color: white;
  margin-top: 470px;
  padding-left: 70px;
}
.main-content {
  width: 1200px;
  height: 860px;
  background-color: #173a5e;
  margin-top: 70px;
  font-family: "Oswald", sans-serif;
  border-radius: 3px;
  padding: 30px 60px;
  color: white;
  text-transform: uppercase;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--colors-border);
  /* box-shadow: var(--shadow); */
}

.main-content .links {
  font-size: 12pt;
  margin-right: 15px;
}
.title-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 20px;
}
.title-text {
  padding: 0;
  margin-left: 15px;
  width: 400px;
}
.links {
  color: white;
  transition: 1s;
  height: 30px;
  padding-top: 5px;
  text-transform: none;
}
.links:hover {
  color: white;
}
.arrow-right {
  cursor: pointer;
  width: 170px;
  height: 40px;
  font-size: 12pt;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: none;
  color: white;
}
.arrow-right:hover {
  text-decoration: none;
  background-color: white;
  color: #173a5e;
  background-color: none;
}

/* trending content */

.trending-data-block {
  font-size: 13pt;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
.trending-data-content {
  width: 200px;
  height: 350px;
  margin: 0 15px 0px;
}
.trending-img {
  width: 200px;
  height: 270px;
  max-width: 300px;
  max-height: 400px;
  border-radius: 3px;
}
