@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

.main-page__links a:link {
  color: white;
}
.main-page__links a:visited {
  color: white;
}
.main-page__links a:active {
  color: white;
}

.main-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.main-page__content {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 60px;
  width: 600px;
}
.main-page__links {
  transition: 1s;
  margin: 0 50px;
}
.image {
  width: 600px;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.title-name {
  padding-left: 7px;
  text-decoration: none;
  font-size: 22pt;
  text-transform: uppercase;
  font-family: "Quintessential", cursive;
  position: absolute;
  display: flex;
  color: white;
}
.main-page__content:hover .main-page__links {
  opacity: 0.4;
  filter: blur(3px);
}
.main-page__content .main-page__links:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1.2);
}
