@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.home_page {
  display: flex;
  background-image: url(../Img/bg-lightl-896.jpg);
  height: auto;
  padding-top: 120px;
}
.wrapper {
  justify-content: center;
  z-index: 1;
  width: 100%;
  margin: 0 50px;
}
.button__block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: rgb(13, 70, 114);
  color: white;
  width: 130px;
  height: 50px;
  margin: 5px 10px;
  font-size: 11pt;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  text-decoration: none;
  background-color: white;
  color: rgb(13, 70, 114);
}
.btn_modal_more_details {
  background-color: rgb(13, 70, 114);
  color: white;
  width: 100%;
  height: 40px;
  font-size: 11pt;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.btn_modal_more_details:active,
.btn_modal_more_details:hover {
  text-decoration: none;
  background-color: white;
  color: rgb(13, 70, 114);
}
.open_modal_btn {
  width: 250px;
  height: 40px;
  border-radius: none;
  font-size: 11pt;
  background-color: rgb(13, 70, 114);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.open_modal_btn:active,
.open_modal_btn:hover {
  background-color: white;
  color: rgb(13, 70, 114);
}
.modal_content {
  position: fixed;
  border: 1px solid black;
}
.modal_content_text {
  width: 100%;
  color: rgb(13, 70, 114);
  font-size: 16pt;
  height: 140px;
  overflow: auto;
  text-overflow: clip;
}
.modal_content_text-all {
  font-size: 14pt;
  width: 100%;
  height: 150px;
  opacity: 70%;
  margin: 10px 0;
}
.modal_content_text-rating {
  position: absolute;
  margin-top: 68px;
  width: 270px;
  padding: 5px;
  text-align: right;
  font-size: 14pt;
}
.filters {
  display: block;
  min-height: 1300px;
}
@media (max-width: 767px) {
  .home_page {
    padding-top: 80px;
  }
}
