* {
  font-family: Arial, sans-serif;
}
.home_page {
  margin-top: 30px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  background-color: #F6F6F6;
  width: 150px;
  height: 30px;
  margin: 5px 10px;
  font-size: 11pt;
  text-transform: uppercase;
}
.btn_modal_more_details {
  background-color: #F6F6F6;
  color: black;
  width: 150px;
  height: 40px;
  margin-top: 30px;
  font-size: 11pt;
  text-decoration: none;
}
.btn_modal_more_details:active,
.btn_modal_more_details:hover {
  text-decoration: none;
  color: black;
}
.element_list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block_content {
  border: 1px solid black;
  width: 300px;
  height: 500px;
  margin: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14pt;
}
.modal_content {
  position: fixed;
  box-shadow: 100px solid black;
  border: 1px solid black;
}
.modal_content_text main {
  font-size: 16pt;
}
.modal_content_text {
  font-size: 14pt;
  padding: 3px;
  /* background-color: aqua; */
  height: 120px;
}
.modal_content_text h4 {
  width: 100%;
  height: 120px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
}
.modal_content_text p {
  padding-top: 5px;
  opacity: 70%;
  /* background-color: red; */
}
.block_text {
  margin: 5px;
  max-height: 40px;
}
.block_image {
  width: 300px;
  height: 400px;
  max-width: 300px;
  max-height: 400px;
}
.open_modal {
  width: 200px;
  height: 35px;
  border-radius: none;
  font-size: 11pt;
  background-color: #F6F6F6;
}