.home_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  background-color: #F6F6F6;
  width: 100px;
  height: 30px;
  margin: 5px;
}
.element_list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block_content {
  border: 1px solid black;
  width: 300px;
  height: 500px;
  margin: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14pt;
}
.modal_content {
  position: fixed;
  box-shadow: 100px solid black;
  border: 1px solid black;
}
.modal_content_text {
  font-size: 14pt;
}
.block_text {
  margin: 5px;
  max-height: 40px;
}
.block_image {
  width: 300px;
  height: 400px;
  max-width: 300px;
  max-height: 400px;
}
.open_modal {
  width: 200px;
  height: 35px;
  border-radius: none;
  font-size: 11pt;
}
.Butt_More_info {
  width: 200px;
  height: 35px;
  border-radius: none;
  font-size: 11pt;
}