@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',
  sans-serif;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  color: black;
}
.clear {
  clear: both;
}
.header {
  position: fixed;
  background-color: rgb(13, 70, 114);
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  margin: 0px auto;
  padding: 0px 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgb(13, 70, 114);
}
.head__shiki__logo {
  position: relative;
  z-index: 3;
  width: auto;
  height: 50px;
  color: white;
  padding: 10px;
  margin: none;
  /* background-color: red; */
}
.head__title__text {
  font-size: 16pt;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  /* position: relative;
  z-index: 2; */
}
.head__list {
  font-size: 14pt;
  list-style-type: none;
  gap: 30px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.head__link {
  color: #fff;
}
.head__adaptive__btn {
  display: none;
}
@media (max-width: 767px) {
  .container{
    height: 50px; 
  }
  .head__shiki__logo{
    height: 30px;
  }
  .head__adaptive__btn {
    display: block;
    position: relative;
    z-index: 3;
    width: 35px;
    height: 20px;
    margin: 0 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .head__adaptive__btn::before,
  .head__adaptive__btn::after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .head__adaptive__btn span {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .head__adaptive__btn::before {
    top: 0;
  }
  .head__adaptive__btn::after{
    bottom: 0;
  }
  .head__adaptive__btn.active span {
    transform: scale(0);
  }
  .head__adaptive__btn.active::before {
    transform:  rotate(45deg);
    top: 9px;
  }
  .head__adaptive__btn.active::after {
    transform:  rotate(-45deg);
    bottom: 9px;
  }
  .head__menu {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(100%, 0px);
    background-color: rgb(5, 120, 120);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
  }
  .head__menu.active {
    transform: translate(0px, 0px);
    top: 0;
    white-space: nowrap;
  }
  .head__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    transition: left 0.3s ease 0.3s;
  }
  .head__list {
    display: block;
    font-size: 20pt;
  }
  .head__list li {
    margin: 0 0 40px 0;
  }
  .head__list li:hover {
    margin: 0 0 40px 0;
    color: black;
  }
  .container.lock {
    overflow: hidden;
  }
    a:active,
    a:hover {

      color: black;
    }
    
}