@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',
  sans-serif;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  color: black;
}
.clear {
  clear: both;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(13, 70, 114);
  height: 50px;
}
.header_link {
  color: white;
}
.header .head_logo {
  display: flex;
  align-items: center;
  font-size: 16pt;
  text-transform: uppercase;
  color: #fff;
  padding-left: 70px;
  cursor: pointer !important;
}
.header .head_list {
  color: #fff;

  font-size: 14pt;
  display: flex;
  align-items: center;
  padding: 0 70px;
  list-style-type: none;
  gap: 50px;
  cursor: pointer !important;
}
/* li {
  border: 1px solid black;
  margin: none;
  padding: 25px;
} */
