@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  color: rgb(190, 190, 190);
  text-decoration: underline;
}
.clear {
  clear: both;
}
.head {
  position: fixed;
  background-color: #173a5e;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.container {
  margin: 0px auto;
  padding: 0px 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #173a5e;
  background-color: red;
}
.title__logo__link {
  display: flex;
  align-items: center;
}
.head-shiki__logo {
  position: relative;
  z-index: 999;
  width: auto;
  height: 50px;
  color: white;
  padding: 5px;
  margin: none;
  /* background-color: red; */
}
.head-title__text {
  font-size: 22pt;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  padding-right: 80px;
  position: fixed;
  padding-left: 70px;
  font-family: "Anton", sans-serif;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head__list {
  font-size: 15pt;
  list-style-type: none;
  gap: 30px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.head__link {
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.head-adaptive__btn {
  display: none;
}

@media (max-width: 1224px), (max-width: 767px) {
  .container {
    height: 50px;
    padding: 0px 25px;
    width: 100%;
  }
  .head-shiki__logo {
    height: 45px;
  }
  .head-adaptive__btn {
    display: block;
    position: relative;
    z-index: 3;
    width: 35px;
    height: 20px;
    margin: 0 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .head-adaptive__btn:before,
  .head-adaptive__btn:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .head-adaptive__btn span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .head-adaptive__btn:before {
    top: 0;
  }
  .head-adaptive__btn:after {
    bottom: 0;
  }

  .head-adaptive__btn.active span {
    transform: scale(0);
  }
  .head-adaptive__btn.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .head-adaptive__btn.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .head__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(100%, 0px);
    background-color: rgb(20, 90, 120, 1);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
    z-index: 1;
  }
  .head__menu.active {
    transform: translate(0px, 0px);
    white-space: nowrap;
  }
  .head__menu:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    transition: left 0.3s ease 0.3s;
  }
  .head-title__text {
    display: none;
  }
  .head__list {
    display: block;
    font-size: 16pt;
    height: 30px;
  }
  .head__list li {
    margin: 0 0 40px 0;
  }
  .head__list li:hover {
    margin: 0 0 40px 0;
  }
  .container.lock {
    overflow: hidden;
  }
}
