.footer {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: rgb(13, 70, 114);
    justify-content: space-between;
}
.ft_main {
    align-items: center;
    list-style-type: none;
    color: #ffffff;
    font-size: 16pt;
    margin: 50px 200px 0px 200px;
}
.ft_main .ft_nav {
    font-size: 13pt;
    margin-top: 30px;
}
.ft_mail {
    color: wheat;
    padding-top: 20px;
}