.aniManga {
    margin-top: 130px;
    padding: 0px 20px;
    height: 700px;
}
.aniManga__content-details {
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.aniManga__content-details h2 {
    width: 100%;
    height: auto;
    /* background-color: red; */
    text-transform: uppercase;
}
.aniManga__image-block {
    width: 300px;
    height: 420px;
    border-radius: 15px;
    margin: 10px 10px 0px 0px;
}
.aniManga__text-block {
    margin: 10px 15px 20px;
    width: 300px;
    height: 420px;
    padding: 10px;
    max-width: 450px;
    font-size: 14pt;
    line-height: 30px;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
}
.aniManga__content-description {
    height: auto;
    width: 100%;
    font-size: 14pt;
    padding: 10px;
    border-radius: 15px;
    /* border: 1px solid black; */
    background-color: rgb(240, 240, 240);
}
@media  (max-width: 767px) {
    .aniManga {
        display: flex;
        justify-content: center;
        margin: 70px 15px 10px;
    }
    .aniManga__content-details {
        margin: 10px 15px 10px;
        height: auto;
    }
    .aniManga__content-details h2 {
        font-size: 13pt;
        text-transform: uppercase;
        margin: 10px 15px 10px;
        height: auto;
    }
    .aniManga__text-block {
        margin: 10px 15px 10px;
        height: auto;
        font-size: 12pt;
        width: 320px;
    }
    .aniManga__image-block {

        width: auto;
        border-radius: 15px;
        margin: 10px 15px 10px;
        height: auto;
    }
    .aniManga__content-description {
        margin: 10px 15px 10px;
        height: auto;
        font-size: 12pt;
        width: 320px;
    }
  }