html,
body {
  height: 100%;
}
SwiperImg {
  align-items: flex-start;
}
.aniManga {
  padding: 120px 20px 0;
  min-height: 100vh;
  background-image: url(../../Img/bg-lightl-896.jpg);
}
.aniManga-content {
  display: flex;
  flex-wrap: wrap;
}
.aniManga-content h2 {
  width: 100%;
  text-transform: uppercase;
  margin: 10px 15px 10px;
}
.aniManga-image__block {
  width: 300px;
  height: 420px;
  border-radius: 5px;
  margin: 10px 15px 20px;
}
.aniManga-text__block {
  margin: 10px 15px 20px;
  width: 300px;
  height: 420px;
  padding: 10px;
  max-width: 450px;
  font-size: 14pt;
  line-height: 30px;
  background-color: rgb(202, 202, 202);
  border-radius: 5px;
}
.aniManga-content__description {
  height: auto;
  width: 100%;
  font-size: 14pt;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 15px 10px;
  background-color: rgb(211, 211, 211);
}
@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .aniManga {
    margin: 70px 15px 10px;
  }
  .aniManga-content {
    justify-content: center;
    margin: 10px 15px 10px;
  }
  .aniManga-content h2 {
    font-size: 13pt;
    text-transform: uppercase;
    margin: 10px 15px 10px;
    height: auto;
    width: auto;
  }
  .aniManga-text__block {
    margin: 10px 15px 10px;
    height: auto;
    font-size: 12pt;
    width: 320px;
  }
  .aniManga-image__block {
    border-radius: 5px;
    margin: 10px 15px 10px;
  }
  .aniManga-content__description {
    margin: 10px 15px 10px;
    font-size: 12pt;
    width: auto;
  }
}
