.prev-button {
  background-color: rgb(13, 70, 114);
  color: white;
  width: 170px;
  height: 40px;
  margin: 5px 10px;
  font-size: 11pt;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
.prev-button:hover {
  text-decoration: none;
  background-color: white;
  color: rgb(13, 70, 114);
}
