#app {
    text-transform: uppercase;
}
@media all and (width: 1200px) {
    .main-container {
        width: 950px;
    }
}
@media all and (width: 992px) {
    .main-container {
        width: 750px;
    }
}
@media all and (width: 767px) {
    .main-container {
        width: none;
    }
}